#  T-tests and P-values

In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

* **Student's t-test** (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of **two independent populations** (e.g. test scores of students in two different classes). `scipy` provides the [`ttest_ind`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_ind.html) method to conduct student's t-test.

* **Paired t-test** (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of **the same population** (e.g. scores of different tests of students in the same class). `scipy` provides the [`ttest_rel`](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.ttest_rel.html) method to conduct paired t-test.

Both types of t-tests return a number which is called the **p-value**. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in [this article](http://b.link/test50) and [this Quora](http://b.link/unpaired97). Make sure you understand when to use which type of t-test.

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import scipy.stats as st
import matplotlib.pyplot as plt
import seaborn as sns

### One tailed t-test 
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/ttest_machine.xlsx. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other?

#### Import dataset

In [4]:
# Your code here:

packing_results=pd.read_csv('ttest_machine.txt', sep = ' ')

In [ ]:
# H0 = mean of packing for the old machine <= to the mean of packing for the current machine
# H1 = mean of packing for the old machine > to the mean of packing for the current machine

In [5]:
packing_results

   New_machine  Old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

In [8]:
packing_results_1=packing_results['difference']=packing_results['New_machine'] - packing_results['Old_machine']

In [9]:
packing_results_1

0   -0.6
1   -2.6
2   -2.5
3   -1.5
4   -0.1
5   -0.7
6    0.1
7    0.6
8   -2.2
9   -1.4
dtype: float64

In [10]:
packing_results['difference']=packing_results['New_machine'] - packing_results['Old_machine']

In [11]:
packing_results

   New_machine  Old_machine  difference
0         42.1         42.7        -0.6
1         41.0         43.6        -2.6
2         41.3         43.8        -2.5
3         41.8         43.3        -1.5
4         42.4         42.5        -0.1
5         42.8         43.5        -0.7
6         43.2         43.1         0.1
7         42.3         41.7         0.6
8         41.8         44.0        -2.2
9         42.7         44.1        -1.4

In [15]:
stat, pvalue = st.ttest_ind(packing_results['Old_machine'], packing_results['New_machine'], equal_var=False)

In [16]:
print("Statistic is", stat, "p value is:", pvalue/2)

Statistic is 3.3972307061176026 p value is: 0.00162112473315899

In [ ]:
divide the p-value by 2

#### Import dataset

In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use pokemon.csv

In [19]:
# Your code here:
pokemon = pd.read_csv('pokemon.txt')

In [20]:
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
#H0 = Legendary vs Normal are equal looking at HP, Attack, Defense, etc
#H1 = Legendary vs Normal are NOT equal looking at HP, Attack, Defense, etc

In [26]:
legendary_pokemon = pokemon[pokemon['Legendary']== True].sample(30)
non_legendary_pokemon = pokemon[pokemon['Legendary']== False].sample(30)

In [32]:
legendary_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
699,638,Cobalion,Steel,Fighting,580,91,90,129,90,72,108,5,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
543,486,Regigigas,Normal,NaN,670,110,160,110,80,110,100,4,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
708,645,LandorusIncarnate Forme,Ground,Flying,600,89,125,90,115,80,101,5,True
269,249,Lugia,Psychic,Flying,680,106,90,130,90,154,110,2,True
423,383,Groudon,Ground,NaN,670,100,150,140,100,90,90,3,True
540,483,Dialga,Steel,Dragon,680,100,120,120,150,100,90,4,True
712,646,KyuremWhite Kyurem,Dragon,Ice,700,125,120,90,170,100,95,5,True
539,482,Azelf,Psychic,NaN,580,75,125,70,125,70,115,4,True
164,150,MewtwoMega Mewtwo Y,Psychic,NaN,780,106,150,70,194,120,140,1,True
422,382,KyogrePrimal Kyogre,Water,NaN,770,100,150,90,180,160,90,3,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True
538,481,Mesprit,Psychic,NaN,580,80,105,105,105,105,80,4,True
415,378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
421,382,Kyogre,Water,NaN,670,100,100,90,150,140,90,3,True
704,642,ThundurusIncarnate Forme,Electric,Flying,580,79,115,70,125,80,111,5,True
553,494,Victini,Psychic,Fire,600,100,100,100,100,100,100,5,True
545,487,GiratinaOrigin Forme,Ghost,Dragon,680,150,120,100,120,100,90,4,True
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
542,485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
552,493,Arceus,Normal,NaN,720,120,120,120,120,120,120,4,True
420,381,LatiosMega Latios,Dragon,Psychic,700,80,130,100,160,120,110,3,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
417,380,Latias,Dragon,Psychic,600,80,80,90,110,130,110,3,True
702,641,TornadusIncarnate Forme,Flying,NaN,580,79,115,70,125,80,111,5,True

In [33]:
non_legendary_pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
506,456,Finneon,Water,NaN,330,49,49,56,49,61,66,4,False
692,631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
61,56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
559,500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
65,60,Poliwag,Water,NaN,300,40,50,40,40,40,90,1,False
181,167,Spinarak,Bug,Poison,250,40,60,40,40,40,30,2,False
147,136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
160,148,Dragonair,Dragon,NaN,420,61,84,65,70,70,70,1,False
750,681,AegislashBlade Forme,Steel,Ghost,520,60,150,50,150,50,60,6,False
783,710,PumpkabooSuper Size,Ghost,Grass,335,59,66,70,44,55,41,6,False
172,158,Totodile,Water,NaN,314,50,65,64,44,48,43,2,False
681,620,Mienshao,Fighting,NaN,510,65,125,60,95,60,105,5,False
680,619,Mienfoo,Fighting,NaN,350,45,85,50,55,50,65,5,False
101,94,Gengar,Ghost,Poison,500,60,65,60,130,75,110,1,False
467,420,Cherubi,Grass,NaN,275,45,35,45,62,53,35,4,False
140,130,Gyarados,Water,Flying,540,95,125,79,60,100,81,1,False
245,227,Skarmory,Steel,Flying,465,65,80,140,40,70,70,2,False
141,130,GyaradosMega Gyarados,Water,Dark,640,95,155,109,70,130,81,1,False
679,618,Stunfisk,Ground,Electric,471,109,66,84,81,99,32,5,False
671,610,Axew,Dragon,NaN,320,46,87,60,30,40,57,5,False
496,447,Riolu,Fighting,NaN,285,40,70,40,35,40,60,4,False
368,336,Seviper,Poison,NaN,458,73,100,60,100,60,65,3,False
468,421,Cherrim,Grass,NaN,450,70,60,70,87,78,85,4,False
138,128,Tauros,Normal,NaN,490,75,100,95,40,70,110,1,False
682,621,Druddigon,Dragon,NaN,485,77,120,90,60,90,48,5,False
357,326,Grumpig,Psychic,NaN,470,80,45,65,90,110,80,3,False
296,273,Seedot,Grass,NaN,220,40,40,50,30,30,30,3,False
206,191,Sunkern,Grass,NaN,180,30,30,30,30,30,30,2,False
78,72,Tentacool,Water,Poison,335,40,40,35,50,100,70,1,False
150,139,Omastar,Rock,Water,495,70,60,125,115,70,55,1,False

#### First we want to define a function with which we can test the means of a feature set of two samples. 

In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called **docstring** which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [27]:
def t_test_features(legendary_pokemon, non_legendary_pokemon, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    for feature in features:
        t_stat, p_value = st.ttest_ind(legendary_pokemon[feature], non_legendary_pokemon[feature], equal_var=False)
        results[feature] = p_value
    
    return results

#### Using the `t_test_features` function, conduct t-test for Lengendary vs non-Legendary pokemons.

*Hint: your output should look like below:*

```
{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}
 ```

In [28]:
# Your code here
t_test_results = t_test_features(legendary_pokemon, non_legendary_pokemon)

In [29]:
t_test_results

{'HP': 5.226798467760444e-07,
 'Attack': 2.057792963830565e-05,
 'Defense': 8.895318511659807e-07,
 'Sp. Atk': 2.2188511697547754e-09,
 'Sp. Def': 7.903298734747859e-08,
 'Speed': 7.053236092719534e-07,
 'Total': 2.2719575925132537e-13}

#### From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

In [ ]:
# Your comment here

#Hipothesis testing
#H0 : statistiscs of legendary pokemons = statistics of non legendary pokemons
#H1 : statistiscs of legendary pokemons != statistics of non legendary pokemons
# Because the p_value for all of the features is below 0.05 we can reject the null hipothesis

#### Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [ ]:
#H0 : stats of Generation1 pokemons = stats of Generation2 pokemons
#H1 : stats of Generation1 pokemons != stats of Generation2 pokemons

In [30]:
# Your code here
generation_1 = pokemon[pokemon['Generation']== 1].sample(30)
generation_2  = pokemon[pokemon['Generation']==2].sample(30)

In [31]:
t_test_results = t_test_features(generation_1, generation_2)
t_test_results

{'HP': 0.7326773750587576,
 'Attack': 0.6734593458892779,
 'Defense': 0.7904400647834039,
 'Sp. Atk': 0.4350275004470683,
 'Sp. Def': 0.8546644294542278,
 'Speed': 0.35600347326248194,
 'Total': 0.659738152277617}

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Compare pokemons who have single type vs those having two types.

In [ ]:
#H0: singletype pokemon = multitype pokemon
#H1: singletype pokemon != multitype pokemon

In [41]:
# Your code here
singleT_pokemon = pokemon[pokemon['Type 2'].isna()].sample(30)
multiT_pokemon  = pokemon[pokemon['Type 2']!= "NaN"].sample(30)

In [42]:
t_test_results = t_test_features(singleT_pokemon, multiT_pokemon)
t_test_results

{'HP': 0.9703691219499433,
 'Attack': 0.002231593669791401,
 'Defense': 0.2117669979062294,
 'Sp. Atk': 0.014736775537075768,
 'Sp. Def': 0.09778152627561715,
 'Speed': 0.005542459961344848,
 'Total': 0.0027041586865630203}

#### What conclusions can you make?

In [ ]:
# Your comment here

#### Now, we want to compare whether there are significant differences of `Attack` vs `Defense`  and  `Sp. Atk` vs `Sp. Def` of all pokemons. Please write your code below.

*Hint: are you comparing different populations or the same population?*

In [ ]:
#H0: Attack = Defense
#H1: Attack != Defense

#H0: Sp. Atk = Sp. Def
#H1: Sp. Atk != Sp. Def

In [43]:

# Grouping by the 'Name' column and aggregating 'Attack' and 'Defense' columns
grouped_pokemon = pokemon.groupby('Name')[['Attack', 'Defense']].sum()

# 'grouped_pokemon' now contains the sum of 'Attack' and 'Defense' for each unique 'Name'

In [44]:
grouped_pokemon

                         Attack  Defense
Name
Abomasnow                    92       75
AbomasnowMega Abomasnow     132      105
Abra                         20       15
Absol                       130       60
AbsolMega Absol             150       60
...                         ...      ...
Zoroark                     105       60
Zorua                        65       40
Zubat                        45       35
Zweilous                     85       70
Zygarde50% Forme            100      121

[800 rows x 2 columns]

In [45]:
grouped_pokemon['Difference'] = grouped_pokemon['Attack'] - grouped_pokemon['Defense']

In [46]:
grouped_pokemon

                         Attack  Defense  Difference
Name
Abomasnow                    92       75          17
AbomasnowMega Abomasnow     132      105          27
Abra                         20       15           5
Absol                       130       60          70
AbsolMega Absol             150       60          90
...                         ...      ...         ...
Zoroark                     105       60          45
Zorua                        65       40          25
Zubat                        45       35          10
Zweilous                     85       70          15
Zygarde50% Forme            100      121         -21

[800 rows x 3 columns]

In [47]:
st.ttest_1samp(grouped_pokemon['Difference'],0)

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [49]:
st.ttest_rel(grouped_pokemon['Attack'], grouped_pokemon['Defense'])

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)

In [50]:
grouped_pokemon_2 = pokemon.groupby('Name')[['Sp. Atk', 'Sp. Def']].sum()

In [51]:
grouped_pokemon_2

                         Sp. Atk  Sp. Def
Name
Abomasnow                     92       85
AbomasnowMega Abomasnow      132      105
Abra                         105       55
Absol                         75       60
AbsolMega Absol              115       60
...                          ...      ...
Zoroark                      120       60
Zorua                         80       40
Zubat                         30       40
Zweilous                      65       70
Zygarde50% Forme              81       95

[800 rows x 2 columns]

In [55]:
grouped_pokemon_2['Difference'] = grouped_pokemon_2['Sp. Atk'] - grouped_pokemon_2['Sp. Def']

In [56]:
grouped_pokemon_2

                         Sp. Atk  Sp. Def  Difference
Name
Abomasnow                     92       85           7
AbomasnowMega Abomasnow      132      105          27
Abra                         105       55          50
Absol                         75       60          15
AbsolMega Absol              115       60          55
...                          ...      ...         ...
Zoroark                      120       60          60
Zorua                         80       40          40
Zubat                         30       40         -10
Zweilous                      65       70          -5
Zygarde50% Forme              81       95         -14

[800 rows x 3 columns]

In [57]:
st.ttest_1samp(grouped_pokemon_2['Difference'],0)

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

In [59]:
st.ttest_rel(grouped_pokemon_2['Sp. Atk'], grouped_pokemon_2['Sp. Def'])

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

#### What conclusions can you make?

In [ ]:
# Your comment here

#In Attack and Defense features of the pokemons we reject the null hypotesis since p value is very low
# In Sp. Atk vs Sp. Def we do not reject the null hypotesis since p value is above significance level of 0.05